<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

<% include ../../partials/nav.ejs %>

<div class="container">
<h2>Garage Detail</h2>

<% if(error) { %>
    <div class="alert alert-danger">
        <strong>Something wrong!</strong> <%= error %>
    </div>
<% } %> 

<form id="form" action="<%= action %>" method="POST">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <colgroup> 
            <col class="col-xs-2"> 
            <col class="col-xs-4"> 
        </colgroup>
        <tr>
            <td><label for="name">Name *</label></td>
            <td><input class="form-control input-sm" type="text" name="name" id="name" value="<%= name %>" <%= readOnly %>></input></td>
        </tr>
        <tr>
            <td><label for="address">Address *</label></td>
            <td><input class="form-control input-sm" type="text" name="address" id="address" value="<%= address %>" <%= readOnly %>></input></td>
        </tr>
        <tr>
            <td><label for="phoneNumber">Phone Number</label></td>
            <td><input class="form-control input-sm" type="text" name="phoneNumber" id="phoneNumber" value="<%= phoneNumber %>" <%= readOnly %>></input></td>
        </tr>
        <tr>
            <td><label for="emailAddress">Email</label></td>
            <td><input class="form-control input-sm" type="text" name="emailAddress" id="emailAddress" value="<%= emailAddress %>" <%= readOnly %>></input></td>
        </tr>
        <tr>
            <td><label for="maxCars">Max cars *</label></td>
            <td><input class="form-control input-sm" type="text" name="maxCars" id="maxCars" value="<%= maxCars %>" <%= readOnly %>></input></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button class="btn btn-primary" type="submit" value="Submit"><%= readOnly ? 'Delete' : 'Save' %></button>
                <a href="/garages" class="btn btn-danger" role="button">Cancel</a>       
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>
